<div class="layout-row align-items-center justify-content-center navigation-screen">
    <div class="card layout-row flat map-card">
        <section class="card pb-16 pr-16 flex-auto layout-column justify-content-center">
            <ul class="pl-0" data-test-id="location-list">
                
                <!-- Use this `li` for rendering each location item as it contains all the data-test-id attributes required for the tests to pass-->
                
                <div *ngFor="let location of locations; index as index">
                    <li [attr.data-test-id]="'location-' + index" class="layout-row justify-content-between align-items-center mr-8 pl-40 relative">
                        <div class="layout-column justify-content-start align-items-center handle">
                            <i [ngClass]="this.getClasses('marker', index)">{{ this.isLast(index) ? 'room' : 'radio_button_checked' }}</i>
                            <i [ngClass]="this.getClasses('dots', index)">more_vert</i>
                        </div>
                        <div class="location-name">
                            <p class="caption text-start mb-4" data-test-id="location">{{ location }}</p>
                        </div>

                        <div>
                            <button class="icon-only small mx-0" data-test-id="up-button" (click)="moveUp(index)"><i class="material-icons">arrow_upward</i></button>
                            <button class="icon-only small mx-0" data-test-id="down-button" (click)="moveDown(index)"><i class="material-icons">arrow_downward</i></button>
                        </div>
                    </li>
                </div>
            </ul>
        </section>
        <section class="flex-auto">
            <img src="assets/images/map.svg" class="fill" alt="map" />
        </section>
    </div>

</div>